@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark:bg-cb_black;
}

@layer components {
  .loader {
    @apply bg-cb_primary inline-block w-4 h-4 rounded-full mx-2 animate-bounce;
  }

  .header {
    @apply font-bold font-serif;
  }

  .h1 {
    @apply text-5xl uppercase;
  }

  .h2 {
    @apply text-2xl uppercase;
  }

  .blogLayout {
    @apply grid gap-4 w-3/4 mx-auto my-40;
    grid-template-areas: "1 1 1" "2 2 3" "4 4 4";
  }

  .counterBody {
    counter-reset: headline;
  }

  .counter::before {
    counter-increment: headline;
    content: "Schritt " counter(headline) ": ";
  }
}
